body {
    margin: 0;
    overflow: hidden;
    width: 2576px;
}

#wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    width: 2576px;
    gap: 0;
    /*grid-auto-rows: minmax(100px, auto);*/
    align-items: center;
    justify-items: center;
}

#wrapper div {
    box-sizing: border-box;
    border: solid 1px #000;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}

.cellBlock:hover {
    background-color: darkgray;
}